<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/timeline.css">
</head>

<body>
    <header class="t-header">
        <img class="logo-box" src="../images/timeline/logo.png"></img>
        <img class="year-box" src="../images/timeline/2013~2017.png"></img>
    </header>
    <div class="t-main">
        <div class="left-box">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>
                    <h1>2016<b></b></h1></li>
                <li>
                    <h5>百雀羚2016年度抗癌行动<span>.12</span></h5></li>
                <li>
                    <h5>我是传奇，创造双十一奇迹<span>.11</span></h5> </li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <p>双十一1.45亿最强卫冕冠军</p>
                </li>
                <li>
                    <p>11月11日百雀羚天猫美妆成功卫冕</p>
                </li>
                <li>
                    <p>全球一亿人次选择购买</p>
                </li>
                <li>
                    <h5>模特之星决赛之夜百雀羚全程冠名<span>.10</span></h5></li>
                <li>
                    <p>腾讯全程直播！激烈有精彩的冠军争夺</p>
                </li>
                <li>
                    <p>走在国际化步伐前列先行者</p>
                </li>
                <li><img src="../images/timeline/9.png" height="186px" alt=""></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>
                    <h5>百雀羚冠名《麻雀》收视率+点击量第一<span>.09</span></h5></li>
                <li>
                    <p>麻雀总播放量超180亿</p>
                </li>
                <li>
                    <p>走在国际化步伐前列先行者</p>
                </li>
                <li>
                    <h6>百里挑一  首轮呈现  周杰伦见会</h6> </li>
                <li>
                    <h6>三生花X诗歌灵程璧跨界玩文艺！</h6> </li>
                <li>
                    <h5>华晨宇、陈欧聚美平台助力百雀羚，超500万人围观<span>.07</span></h5> </li>
                <li>
                    <h6>百雀羚冠名超级大IP《幻城》一口气签下</h6></li>
                <li>
                    <p>36名美妆达人，百雀羚掀起数字化革命</p>
                </li>
                <li>
                    <h6>百雀羚数字化战略发布会！</h6> </li>
                <li>
                    <h5>气韵品牌战略发布会<span>.06</span></h5>
                    <li><img src="../images/timeline/8.png" height="181px" alt=""></li>
                    <li>
                        <h6>百雀羚数字化战略发布会！</h6> </li>
                    <li>
                        <p>36名美妆达人，百雀羚掀起数字化革命</p>
                    </li>
                    <li>
                        <h6>百里挑一  首轮呈现  周杰伦见会</h6> </li>
                    <li>
                        <h5>气韵品牌战略发布会<span>.05</span></h5>
                        <li>
                            <h5>气韵品牌战略发布会发布会<span>&nbsp;03</span></h5>
                            <li>
                                <p>气韵品牌战略发布会发<span>&nbsp;&nbsp;|&nbsp;</span></p>
                                <li>
                                    <p>气韵品牌战略<span>&nbsp;07</span></p>
                                    <li>
                                        <h5>气韵品牌战略发布会<span>.03</span></h5>
                                        <li></li>
                                        <li></li>
                                        <!--============================2014===========================-->
                                        <li>
                                            <h1 class="title-5">2014<b></b></h1></li>
                                        <li></li>
                                        <li>
                                            <h5>百雀羚2016年度抗癌行陈欧聚美平台助力动<span>.12</span></h5></li>
                                        <li>
                                            <h6>百里挑一  首轮呈现  周杰伦见会！</h6> </li>
                                        <li>
                                            <h6>三生花X诗歌灵程璧跨界玩文艺！</h6> </li>
                                        <li><img src="../images/timeline/5.png" height="186px" alt=""></li>
                                        <li>
                                            <h6>百里挑一  首轮呈现  周杰伦见会！</h6> </li>
                                        <li>
                                            <h6>三生花X诗歌灵程璧跨界陈欧聚美平台助玩文艺！</h6> </li>
                                        <li>
                                            <h5>百雀羚2016年度抗癌陈欧聚美平台助力行动<span>.11</span></h5></li>
                                        <li>
                                            <h5>百雀羚2016年度抗癌陈欧聚美平台助力行动行动<span>.07</span></h5></li>
                                        <li>
                                            <h5>百雀羚2016年度抗癌陈欧聚美平台助力行动行动行动<span>.05</span></h5></li>
                                        <li><img src="../images/timeline/10.png" height="203px" alt=""></li>
                                        <li>
                                            <h5>百雀羚2016年动<span>.03</span></h5></li>
            </ul>
        </div>
        <div class="middle-box">
            <div class="line">
                <div></div>
                <p><i></i></p>
                <div></div>
                <p><b></b></p>
                <div></div>
                <p><i></i></p>
                <div></div>
                <p><b></b></p>
                <div></div>
                <p><i></i></p>
                <div></div>
            </div>
        </div>
        <div class="right-box">
            <ul>
                <li>
                    <h1>2017<b></b></h1></li>
                <li>
                    <h5><span>11.</span>百雀羚2016年度抗癌行动</h5></li>
                <li>
                    <h6>四大美人乱入百雀羚双十一陈欧聚美平台助嘉年华</h6></li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <p>双十一1.45亿最强卫冕冠军</p>
                </li>
                <li>
                    <h5><span>10.</span>我是传奇，创造双十一奇迹</h5> </li>
                <li>
                    <p>11月11日百雀羚天猫美妆成功卫冕</p>
                </li>
                <li>
                    <h5><span>08.</span>模特之星决赛之夜百雀羚全程冠名</h5></li>
                <li><img src="../images/timeline/2.png" height="191px" alt=""></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <h5><span>07.</span>百雀羚2016年度抗癌行动</h5></li>
                <li>
                    <h5><span>11.</span>百雀羚2016年度抗</h5></li>
                <li>
                    <h6>四大美人乱入百</h6></li>
                <li>
                    <h5><span>04.</span>百雀羚2016年度抗</h5></li>
                <li>
                    <h5><span>03.</span>百雀羚2016年度抗精彩的冠军争夺</h5></li>
                <li>
                    <p>腾讯全程直播！激烈有精陈欧聚美平台助彩的冠军争夺</p>
                </li>
                <li>
                    <p>走在国际化步伐前列先行者</p>
                </li>
                <li><img src="../images/timeline/1.png" height="184px" alt=""></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <!--=========================2015============================-->
                <li>
                    <h1 class="title-5">2015<b></b></h1></li>
                <li></li>
                <li>
                    <h5><span>12.</span>百雀羚2016年度抗癌行动</h5></li>
                <li>
                    <h5><span>11.</span>我是传奇，创造双十一奇迹</h5> </li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <h5><span>10.</span>我是传奇，创造一奇迹</h5> </li>
                <li></li>
                <li>
                    <h5><span>07.</span>我是传奇，奇迹</h5> </li>
                <li><img src="../images/timeline/7.png" height="200px" alt=""></li>
                <li>
                    <h6>四大美人乱入百雀羚双十一嘉年华</h6></li>
                <li>
                    <p>双十一1.45亿最强卫冕冠军</p>
                </li>
                <li>
                    <h5><span>06.</span>模特之星决赛之夜百雀羚全程冠名</h5></li>
                <li>
                    <h5><span>05.</span>模特之星决赛之夜名</h5></li>
                <li>
                    <h5><span>03.</span>模特之星决赛之羚全程冠名</h5></li>
                <li>
                    <h5><span>02.</span>模特之星决全程冠名</h5></li>
                <li><img src="../images/timeline/6.png" height="353px" alt=""></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <!--=================================2013=========-->
                <li>
                    <h1 class="title-5">2013<b></b></h1></li>
                <li>
                    <h5><span>09.</span>模特之星决赛之夜百雀羚全程冠名</h5></li>
                <li><img src="../images/timeline/4.png" height="213px" alt=""></li>
                <li>
                    <h5><span>07.</span>模特之星决赛之夜百雀羚全程冠名</h5></li>
                <li><img src="../images/timeline/3.png" height="363px" alt=""></li>
            </ul>
        </div>
    </div>
    <script src="../js/jquery-1.12.4.js"></script>
    <script>
    $(function() {
        var ilength = $('.left-box li').length
        var jlength = $('.right-box li').length
        var i = -1
        var j = -1
        var timer = setInterval(function() {
            j++
            i++;
            $('.left-box ul li').eq(i).animate({
                opacity: 1
            }, 2000, 'linear')
            $('.right-box ul li').eq(j).animate({
                opacity: 1
            }, 2000, 'linear')
        }, 120)
    })
    </script>
</body>

</html>
